.navbar-inverse{
	border:1px solid;
	text-align: center;
}

.navbar-header{
	text-align: center;
	float: none;
	display: inline-block;
}

.navbar-inverse .navbar-brand:hover {
	background-color: gray;
	text-align: center;
}
