.header, .subHeader {
	text-align: center;
	font-family: Arial, Helvetica, Trebuchet;
	padding-bottom: 15px;
}


.text {
	text-align: center;
	font-size: 18;
	padding-bottom: 5px;
		
}

.event {
	padding:5px;
}

.title {
	color:gray;
	text-align: center;
}